HELO:<[127.0.0.1]>
FROM:<no-reply@yourapp.com>
TO:<emailtest21312@asd.com>

From: No Reply <no-reply@yourapp.com>
To: emailtest21312@asd.com
Subject: Confirm your email
Message-ID: <cd4e3991-75e4-07d9-f3ef-53d6e9f537c0@yourapp.com>
Content-Transfer-Encoding: quoted-printable
Date: Sun, 06 Jul 2025 21:13:58 +0000
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

<h1>Hello user1name1232</h1>
<p>Click <a href=3D"https://yourapp.=
com/confirm?token&#x3D;8d0ed84cf398278f40636d9c928a59a835ae0506efd27b7cec0a=
4236443d74fa">here</a> to verify your account.</p>