HELO:<[127.0.0.1]>
FROM:<no-reply@yourapp.com>
TO:<test@asd.com>

From: No Reply <no-reply@yourapp.com>
To: test@asd.com
Subject: Confirm your email
Message-ID: <aa33c674-697b-e9cb-5fd1-8338caa7d4cd@yourapp.com>
Content-Transfer-Encoding: quoted-printable
Date: Sun, 06 Jul 2025 19:04:15 +0000
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

<h1>Hello user1name1232</h1>
<p>Click <a href=3D"https://yourapp.=
com/confirm?token&#x3D;eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.=
eyJzdWIiOiIzMSIsInVzZXJuYW1lIjoidXNlcjFuYW1lMTIzMiIsImlhdCI6MTc1MTgyODY1NSw=
iZXhwIjoxNzUxODMyMjU1fQ.1V41UTcb6GxSupAsh3B14TSyhwgmNSxRW0-G2tM1dEw">here</=
a> to verify your account.</p>