HELO:<[127.0.0.1]>
FROM:<no-reply@yourapp.com>
TO:<emailtest2131222@asd.com>

From: No Reply <no-reply@yourapp.com>
To: emailtest2131222@asd.com
Subject: Confirm your email
Message-ID: <eab742d0-1cb6-975a-d2c7-5fdfd01814c4@yourapp.com>
Content-Transfer-Encoding: quoted-printable
Date: Sun, 06 Jul 2025 23:55:17 +0000
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

<h1>Hello user1name212132</h1>
<p>Click <a href=3D"https://yourapp.=
com/verify?code&#x3D;5bc0a0f0b53cb1ae30be93f6565420851ca4406bd9976703784591=
56d7598d37">here</a> to verify your account.</p>