HELO:<[127.0.0.1]>
FROM:<no-reply@yourapp.com>
TO:<test@asd.com>

From: No Reply <no-reply@yourapp.com>
To: test@asd.com
Subject: Confirm your email
Message-ID: <3e8e4652-9d19-5021-bf3e-e38c1482a3bd@yourapp.com>
Content-Transfer-Encoding: quoted-printable
Date: Sun, 06 Jul 2025 19:03:21 +0000
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

<h1>Hello username</h1>
<p>Click <a href=3D"https://yourapp.com/confirm?=
token&#x3D;token">here</a> to verify your account.=
</p>