HELO:<[127.0.0.1]>
FROM:<no-reply@yourapp.com>
TO:<emailtest213122@asd.com>

From: No Reply <no-reply@yourapp.com>
To: emailtest213122@asd.com
Subject: Confirm your email
Message-ID: <0f78165e-eaa6-cda7-0d2f-f5b3c974e7c9@yourapp.com>
Content-Transfer-Encoding: quoted-printable
Date: Sun, 06 Jul 2025 22:51:53 +0000
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

<h1>Hello user1name12132</h1>
<p>Click <a href=3D"https://yourapp.=
com/confirm?token&#x3D;1c0b031e5888eb80392488609edbf618fb14a1eb8a478a244f80=
ecc0793a3839">here</a> to verify your account.</p>