HELO:<[127.0.0.1]>
FROM:<no-reply@yourapp.com>
TO:<emailtest2131112222@asd.com>

From: No Reply <no-reply@yourapp.com>
To: emailtest2131112222@asd.com
Subject: Confirm your email
Message-ID: <101bbb99-b8a7-0e6e-a5dd-2c6925509309@yourapp.com>
Content-Transfer-Encoding: quoted-printable
Date: Mon, 07 Jul 2025 20:59:22 +0000
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

<html><head></head><body><h1>Hello user1name211212132</h1>
<p>Click <a href=3D"https://yourapp.com/verify?code=3D7803a76c7e746a71ee284=
376b646643377ab75d48156e55dd6cc9836c016f71c">here</a> to verify your =
account.</p></body></html>