HELO:<[127.0.0.1]>
FROM:<no-reply@yourapp.com>
TO:<emailtest21311122222@asd.com>

From: No Reply <no-reply@yourapp.com>
To: emailtest21311122222@asd.com
Subject: Confirm your email
Message-ID: <a0c2bf28-9ded-e93f-d72c-db82b4bcbbc4@yourapp.com>
Content-Transfer-Encoding: quoted-printable
Date: Mon, 07 Jul 2025 21:23:18 +0000
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

<html><head></head><body><h1>Hello user1name2111212132</h1>
<p>Click <a href=3D"https://yourapp.com/verify?code=3D7ad56024875e869f26bd8=
cf0ce4cbb95bf409e4c13312105e40e606e5214576d">here</a> to verify your =
account.</p></body></html>