# AWS Configuration
aws_region = "us-east-1"

# Project Configuration
project_name = "library-app"
environment  = "development"

# VPC Configuration
vpc_cidr = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b"]
public_subnets     = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnets    = ["10.0.11.0/24", "10.0.12.0/24"]

# Security Configuration
allowed_ssh_cidr = ["0.0.0.0/0"]

# RDS Configuration
db_instance_class        = "db.t3.micro"
db_allocated_storage     = 20
db_max_allocated_storage = 100
db_name                  = "library_app"
db_username              = "postgres"
db_password              = "your-secure-password-here"
db_backup_retention_period = 7

# ElastiCache Configuration
cache_node_type = "cache.t3.micro"

# EKS
eks_cluster_name = "name-example-eks"
home_ip = "ip"